@import "media-queries.scss";
@import "color.scss";

.footer {
    width: 100%;
    height: 100%;

    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-container {
        display: flex !important;
        align-items: center;
        justify-content: center;
        border-top: 3px solid $darkColor;
        height: 80px;

        @include tablet-devices {
            height: 100%;
            flex-direction: column;
        }
    }

    &-item-left {
        flex:.5;
        font-weight: 300;

        @include tablet-devices {
            text-align: center;
            margin-top: 20px;
        }
    }

    &-item-left ul { 
        display: flex;
    }

    &-item-right {
        flex:.5;
        text-align: end;
        font-size: 20px;
        font-weight: 500;
        color: $darkColor;

        @include tablet-devices {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }

    &-item-right p { 
        @include tablet-devices {
            line-height: 1.5;
        }
    }

    &-item-list {
        text-decoration: none;
        display: inline-block;
        width: auto;

        @include tablet-devices {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
    }

    &-social-media-icon {
        display: flex;
        border-radius: 50% !important;
        padding: 8px !important;
        margin-right: 35px;
        font-size: 20px !important;
        cursor: pointer;
        text-decoration: none;    

        @include tablet-devices {
            margin: 0 20px;
        }

        @include mobile-devices {
            margin: 0 10px;
        }
    }
}