@import "media-queries.scss";
@import "color.scss";

.navbar {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: $lightColor;

    &-wrapper {
        height: 80px;
        width: 100%;
    }

    &-container {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid $lineColor;
        height: 80px;
    }

    &-icon {
        width: 180px;
        font-size: 20px;
        font-weight: 500;
    }

    &-logo {
        display: flex;
        justify-content: center;
        border-radius: 50%;
        font-size: 40px;
        font-family: 'Diplomata SC', serif;
        text-decoration: none;
    }

    &-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        text-align: center;
        width: 400px;
        height: 80px;

        @include mobile-devices {
            flex-direction: column;
            justify-content: start;
            width: 100%;
            height: 90vh;
            position: absolute;
            top: 80px;
            left: -100%;
            transition: all 0.5s ease;
        }
    }
    &-menu.active {
        @include mobile-devices {
            background-color: $lightColor;
            left: 0;
            opacity: 1;
            transition: all 0.6s ease;
            z-index: 1;
        }
    }

    &-item {
        text-decoration: none;
        display: inline-block;
        width: 100%;

        @include mobile-devices {
            width: 100%;
        }
    }

    &-links{
        font-weight: 400;
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        height: 100%;
        width: auto;
        cursor: pointer;

        @include mobile-devices {
            text-align: center;
            padding: 1.3rem;
            width: 100%;
            display: table;
        }
    }

    &-links:hover {
        transition-duration:0.3s;
        font-weight: bold;
        cursor: pointer;
    }

    .current {
        font-weight: bold;
    }

    &-mini-device {
        display: none;

        @include mobile-devices {
            display: flex;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-100%, 60%);
            font-size: 1.8rem;
            cursor: pointer;
        }
    }
    
    .active {
        transition-duration:0.3s;
        font-weight: bold;
        cursor: pointer;
    }
}