@import "media-queries.scss";
@import "color.scss";

.project {
    min-height: calc(100vh - 150px);
    width: 100%;
    color: $lightColor;

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }
}