@import '@/styles/color.scss';
@import '@/styles/media-queries.scss';

.scroll-to-top-btn {
    position: fixed;
    bottom: 120px;
    right: 5%;
    z-index: 10;

    & > a {
        display: flex;
        justify-content: center;
        padding: 10px 6px;
    }
}