@import '@/styles/color.scss';
@import '@/styles/media-queries.scss';

.global-btn {
    text-decoration: none;
    background-color: $lightColor;
    border-bottom: 4px solid $darkColor;
    border-left: 4px solid $darkColor;
    border-right: 1px solid $darkColor;
    border-top: 1px solid $darkColor;
    border-radius: 4px;
    font-size: 18px;
    padding: 6px;
    cursor: pointer;

    &:hover {
        -moz-box-shadow: 0px 3px 15px $darkColor;
        -webkit-box-shadow: 0px 3px 15px $darkColor;
        box-shadow: 0px 3px 15px $darkColor;
        transition: 0.5s;
    }
    
    &:active {
        border-bottom-width: 2px;
        border-left-width: 2px;
    }
}